---
import Historie from "./Historie.astro";
import Description from "./Description.astro";
---

<header
  class="flex flex-row items-center max-s:items-end justify-center max-s:justify-start min-h-fit max-w-2xl max-s:max-w-full w-full px-5 gap-5 mt-6"
>
  <section
    id="profile-container"
    class="relative transition hover:scale-95 cursor-pointer"
  >
    <button
      id="profile-note"
      class="absolute
        -top-5 max-s:-top-10
        left-3
        text-xs text-gray-300
         bg-primary-hover rounded-xl
         shadow-lg
         cursor-pointer
         h-9 max-s:h-12
         w-fit
         text-wrap
         z-10
         p-2"
    >
      Disponible para trabajar
      <span
        class="absolute -bottom-1 left-3 size-3 bg-primary-hover rounded-full"
      ></span>

      <span
        class="absolute -bottom-3.5 left-6 size-1.5 bg-primary-hover rounded-full"
      ></span>
    </button>
    <Historie
      size="size-42 max-s:size-32 "
      src="/alePhoto.jpg "
      id="profile-picture"
      alt="Ale photo"
      title="Ale photo"
      label="hidden"
    />
  </section>
  <section id="profile-info" class="flex flex-col gap-1">
    <h1 class="text-2xl font-bold">Alejandro Otiñano</h1>
    <h2 class="text-base text-neutral-200">Desarrollador Frontend</h2>

    <ul
      class="flex max-s:flex-col flex-wrap gap-5 max-s:gap-2 text-sm mt-3 font-medium"
    >
      <li class="flex items-center text-center">
        <span class="font-semibold text-white pr-1.5">+7</span>
        <span class="text-neutral-300 text-wrap">proyectos</span>
      </li>

      <li class="flex items-center text-center">
        <span class="font-semibold text-white pr-1.5">2</span>
        <span class="text-neutral-300 text-wrap">años codeando</span>
      </li>

      <li class="flex items-center text-center">
        <span class="font-semibold text-white pr-1.5">1 </span>
        <span class="text-neutral-300 text-wrap">
          año de experiencia laboral
        </span>
      </li>
    </ul>
    <Description show="flex max-s:hidden" />
  </section>
</header>
